<?xml version="1.0"?>
<launch>
  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="sim" default="false"/>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="$(arg sim)"/>
  <arg name="rviz" default = "true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <!-- Hardware spwaner-->
  <include unless="$(arg sim)" file="$(find iwtros_launch)/launch/robot_hw/iiwa_hw_controller.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <node if="$(arg rviz)" name="iiwa_rviz" pkg="rviz" type="rviz" args="-d $(find iwtros_launch)/config/iiwa.rviz" required="true" />
  
</launch>
