<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="robot_name" default="iiwa"/>
    <arg name="model" default="7"/>
    <!--GRIPPER -->
    <arg name="com_mode" default="auto_update" /><!-- or auto_update, polling -->
    <arg name="remap" default="false" /><!-- Remap joint_states topic. e.g. for joint_state_publisher -->
    <arg name="force" default="40" />
    <remap from="/joint_states" to="/joint_states_gripper" if="$(arg remap)"/>

    <include file="$(find iiwa_driver)/launch/iiwa_bringup.launch"/>
   
    <group ns="iiwa">
        <!--node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher">
            <rosparam param="source_list">[joint_hw_states, wsg50_gripper/joint_states] </rosparam>
            <param name="rate" value="50"/>
            <remap from="joint_states" to="joint_desired_states"/>
        </node-->

        <include file="$(find iiwa_moveit_config)/launch/move_group.launch"/>

        <!--include file="$(find iwtros_launch)/launch/robot_hw/iiwa_description.launch"/-->

        <!-- Loads joint controller configurations from YAML file to parameter server -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        </node>

    </group>
</launch>