<?xml version="1.0"?>
<launch>
    <arg name="robot_name" value="iiwa"/>

    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find iwtros_description)/urdf/kuka_robot/iiwa7.urdf.xacro' robot_name:=$(arg robot_name) robot_param:=robot_description workcell_parent:=$(arg robot_name)_interface" />
</launch>