<?xml version="1.0" ?>
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Kuka robot system to spawn in in the gazebo -->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="gripperHwInterface" default="EffortJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="robot_param" default="/iiwa/iiwa_description"/>
  <xacro:arg name="workcell_parent" default="world"/>

  <link name="$(arg workcell_parent)"/>
  <!-- origin is given as in the iwt_envirnment.xacro for urdf
        If any changes requred int the position of the the system change it according to the iwt_envirnment.xacro -->
  <xacro:include filename="$(find iwtros_description)/urdf/kuka_robot/kuka_iiwa7.urdf.xacro" />
  <xacro:kuka_iiwa7_table_urdf table_prefix="$(arg robot_name)" table_parent="$(arg workcell_parent)">
    <origin xyz="0 0 1" rpy="0 0 0" />
  </xacro:kuka_iiwa7_table_urdf>

  <gazebo reference="$(arg workcell_parent)">
      <gravity>true</gravity>
  </gazebo>

  <!-- ToDo: Missing Gazebo plugins-->
  <xacro:include filename="$(find iwtros_description)/urdf/conveyor/dhbw.xacro" />
  <xacro:dhbw_system parent="$(arg workcell_parent)" />

  <xacro:include filename="$(find iwtros_description)/urdf/conveyor/conveyor.urdf.xacro" />
   <xacro:conveyor_system parent="$(arg workcell_parent)">
    <origin xyz="-1 -5.5 1" rpy="0 0 1.57" />
  </xacro:conveyor_system>
</robot>
