<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dhbw_system">

  <xacro:macro name="dhbw_system" params="parent">

    <link name="wall">
      <inertial>
        <mass value="100"/>
        <origin xyz="0 0 0" />
        <inertia  ixx="1" ixy="0.0"  ixz="0.0"  iyy="1"  iyz="0.0"  izz="1" />
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="2 0.01 2"/>
        </geometry>
        <material name="Cyan">
          <color rgba="0.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <box size="2 0.01 2"/>
          </geometry>
      </collision>
    </link>

    <joint name="${parent}_wall_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="wall"/>
      <origin xyz="0 0.82 1"/>
    </joint>

    <link name="dbhwconveyor">
      <inertial>
        <mass value="100"/>
        <origin xyz="0 0 0" />
        <inertia  ixx="1" ixy="0.0"  ixz="0.0"  iyy="1"  iyz="0.0"  izz="1" />
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.46 0.24 0.81"/>
        </geometry>
        <material name="green">
          <color rgba="0.0 0.8 0.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <box size="0.46 0.24 0.81"/>
          </geometry>
      </collision>
    </link>

    <joint name="${parent}_dbhwconveyor_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="dbhwconveyor"/>
        <origin xyz="0.44 0.67 0.405"/>   <!--Moved the KUKA Table arount 0.091 m-->
    </joint>

    <link name="sensor">
      <inertial>
        <mass value="100"/>
        <origin xyz="0 0 0" />
        <inertia  ixx="1" ixy="0.0"  ixz="0.0"  iyy="1"  iyz="0.0"  izz="1" />
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.15 0.15 0.3"/>
        </geometry>
        <material name="yellow">
          <color rgba="0.8 0.8 0.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <box size="0.15 0.15 0.3"/>
          </geometry>
      </collision>
    </link>

    <joint name="${parent}_sensor_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="sensor"/>
        <origin xyz="0.14 0.745 1.15"/>  <!--Moved the KUKA Table arount 0.091 m-->
    </joint>
    
  </xacro:macro>
</robot>